@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility font-recia {
  font-family: "Recia", sans-serif;
}

@utility font-erode {
  font-family: "Erode", serif;
}

@utility font-poppins {
  font-family: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #f9f8f6;
  --foreground: #000000;
  --primary: #bb8ded;
  --primary-foreground: #f9f8f6;
}

.dark {
  --background: #010101;
  --foreground: #f9f8f6;
  --primary: #bb8ded;
  --primary-foreground: #010101;
}

@layer base {
  * {
    @apply outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background-color: #bb8ded;
  color: var(--color-primary-foreground);
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  width: 2px;
}

/* Hide scrollbar utility */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
